<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ProductsActivity" />
        <activity android:name=".AddNewProducts" />
        <activity android:name=".ProductsDetailsActivity" />
        <activity android:name=".ReceivedProduct" />
        <activity android:name=".IssueProducts" />

        <activity android:name=".CustomersActivity" />
        <activity android:name=".AddCustomersActivity" />
        <activity android:name=".SelectCustomer" />

        <activity android:name=".SuppliersActivity" />
        <activity android:name=".AddSuppliersactivity" />
        <activity android:name=".SelectSuppliers" />

        <activity android:name=".ExpensesActivity" />
        <activity android:name=".AddExpenses" />

        <activity android:name=".CostActivity" />
        <activity android:name=".AddCost" />

        <activity android:name=".Billing" />
        <activity android:name=".BillingDetail" />

        <activity android:name=".ReportsDetails" />
        <activity android:name=".PerformanceMain" />

    </application>

</manifest>